/* GALERY ANIMATION > 992px */
@keyframes gal__left {
    0%{
        transform: translateX(-30vw);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes gal__right {
    0%{
        transform: translateX(30vw);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes gal__left__column {
    0%{
        transform: translateX(-50vw);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes gal__right__column {
    0%{
        transform: translateX(50vw);
    }
    100%{
        transform: translateX(0);
    }
}
/* SERVICES ANIMATION */
@keyframes serv-one {
    0%{
        top: 0;
        left: 0;
    }
    25%{
        top: 0;
        left: 50%;
    }
    50%{
        top: 50%;
        left: 50%;
    }
    75%{
        top: 50%;
        left: 0;
    }
    100%{
        top: 0;
        left: 0;
    }
}
@keyframes serv-two {
    0%{
        top: 0;
        left: 50%;
    }
    25%{
        top: 50%;
        left: 50%;
    }
    50%{
        top: 50%;
        left: 0;
    }
    75%{
        top: 0;
        left: 0;
    }
    100%{
        top: 0;
        left: 50%;
    }
}
@keyframes serv-three {
    0%{
        top: 50%;
        left: 0;
    }
    25%{
        top: 0;
        left: 0;
    }
    50%{
        top: 0;
        left: 50%;
    }
    75%{
        top: 50%;
        left: 50%;
    }
    100%{
        top: 50%;
        left: 0;
    }
}
@keyframes serv-four {
    0%{
        top: 50%;
        left: 50%;
    }
    25%{
        top: 50%;
        left: 0;
    }
    50%{
        top: 0;
        left: 0;
    }
    75%{
        top: 0;
        left: 50%;
    }
    100%{
        top: 50%;
        left: 50%;
    }
}
/* GALERY ANIMATION < 992px */
@keyframes gal__left__992 {
    0%{
        transform: translateX(-60vw);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes gal__right__992 {
    0%{
        transform: translateX(60vw);
    }
    100%{
        transform: translateX(0);
    }
}
/* GALERY ANIMATION < 768px */
@keyframes gal__left__768 {
    0%{
        transform: translateX(-100vw);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes gal__right__768 {
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(0);
    }
}