@media screen and (min-width: 992px) {
    .galery{   
	    align-items: center;
	    justify-content: center;
	    padding: 0 2%;
	    gap: 2%;
    }    
    .galery__left{
        transform: translateX(-30vw);
        animation: gal__left .8s linear forwards 1s;
        order: 1;
    }
    .galery__right{
        transform: translateX(30vw);
        animation: gal__right .8s linear forwards 1s;
        order: 4;
    }
    .galery__left__column{
        order: 2;
    }
    .galery__right__column{
        order: 3;
    }
    .left__column__top{
        transform: translateX(-50vw);
        animation: gal__left__column 1.2s linear forwards;
    }
    .left__column__bot{
        transform: translateX(-50vw);
        animation: gal__left__column 1.2s linear forwards;
    }
    .right__column__top{
        transform: translateX(50vw);
        animation: gal__right__column 1.2s linear forwards;
    }
    .right__column__bot{
        transform: translateX(50vw);
        animation: gal__right__column 1.2s linear forwards;
    }
}
@media screen and (max-width:991px) {
    /*-------MAIN-------*/
    :root{
        font-size: 7px;
    }
    .screen{
        height: max-content;
        overflow: hidden;
    }
    /*--------GALERY--------*/
    .galery{
        flex-wrap: wrap;
        justify-content: center;
        gap: 4% 3%;
        padding: 4% 0 3%;
    }
    .galery__left{
        width: 42%;
        order: 1;
        margin-bottom: 1.5%;
        transform: translateX(-60vw);
        animation: gal__left__992 1.2s linear forwards;
    }
    .galery__right{
        width: 42%;
        order: 2;
        margin-bottom: 1.5%;
        transform: translateX(60vw);
        animation: gal__right__992 1.2s linear forwards;
    }
    .galery__left__column{
        width: 42%;
        order: 3;
    }
    .galery__right__column{
        width: 42%;
        order: 4;
    }
    .left__column__top{
        transform: translateX(-60vw);
        animation: gal__left__992 1.2s linear forwards;
    }
    .left__column__bot{
        transform: translateX(-60vw);
        animation: gal__left__992 1.2s linear forwards;
    }
    .right__column__top{
        transform: translateX(60vw);
        animation: gal__right__992 1.2s linear forwards;
    }
    .right__column__bot{
        transform: translateX(60vw);
        animation: gal__right__992 1.2s linear forwards;
    }
    /*-----------SERVICES----------*/
    .services{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .services__left{
        width: 100%;
        height: 80vh;
        order: 2;
    }
    .services__item > div{
        width: 65%;
        height: auto;
    }
    .services__right{
        width: 80%;
        order: 1;
    }
    .services__right-bg{
        width: 100%;
        border-radius: 30px;
    }
    /*----------TEAM----------*/
    .team{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 2% 0;
        
    }
    .team__cards{
        flex-wrap: wrap;
    }
    .cards__item{
        width: 40%;
        margin: 2% 0;
    }
    .cards__item .item__name{
        font-size: 6rem;
        border-bottom-right-radius: 40px;
        border-bottom-left-radius: 40px;
    }
    /*---------CONTACTS--------*/
    .contact__container{
        width: 100%;
        height: max-content;
        min-height: 90vh;
        padding: 0;
    }
    .contact__top{
        width: 100%;
        flex-wrap: wrap;
    }
    .contact__top__form{
        width: 80%;
        height: 40vh;
        margin: 0 auto 3%;
    }
    .form__header{
        width: 100;
        height: auto;
        font-size: 5.2rem;
        line-height: 1.2;
        color: rgba(0, 0, 0, 1);
        text-align: center;
        margin: 0 0 1%;
    }
    .form__body{
        height: 85%;
    }
    .contact__top__map{
        width: 80%;
        height: 40vh;
        margin: 0 auto;
    }
    .contact__top__map iframe{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .contact__bottom{
        height: 20vh;
        padding: 0% 2%;
        display: flex;
        align-items: center;
    }
}
@media screen and (max-width: 768px) {
    /*-------MAIN-------*/
    :root{
        font-size: 6px;
    }
    .screen{
        height: max-content;
        overflow: hidden;
    }
    /*--------GALERY--------*/
    .galery{
        flex-wrap: wrap;
        justify-content: center;
        gap: 4% 3%;
        padding: 4% 0 3%;
    }
    .galery__left{
        width: 70%;
        order: 1;
        margin-bottom: 1.5%;
        transform: translateX(-100vw);
        animation: gal__left__768 1.5s linear forwards;
    }
    .galery__right{
        width: 70%;
        order: 2;
        margin-bottom: 1.5%;
        transform: translateX(100vw);
        animation: gal__right__768 1.5s linear forwards;
    }
    .galery__left__column{
        width: 70%;
        order: 3;
    }
    .galery__right__column{
        width: 70%;
        order: 4;
    }
    .left__column__top{
        transform: translateX(-100vw);
        animation: gal__left__768 1.5s linear forwards;
    }
    .left__column__bot{
        transform: translateX(100vw);
        animation: gal__right__768 1.5s linear forwards;
    }
    .right__column__top{
        transform: translateX(-100vw);
        animation: gal__left__768 1.5s linear forwards;
    }
    .right__column__bot{
        transform: translateX(100vw);
        animation: gal__right__768 1.5s linear forwards;
    }
    /*-----------SERVICES----------*/
    .services{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .services__left{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80vh;
    }
    .services__item > div{
        width: 65%;
        height: auto;
    }
    .services__right{
        display: none;
    }
    /*----------TEAM----------*/
    .team{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 2% 0;
        
    }
    .team__cards{
        flex-wrap: wrap;
    }
    .cards__item{
        width: 65%;
        margin: 1.5% 0;
    }
    .cards__item .item__name{
        font-size: 8rem;
        border-bottom-right-radius: 43px;
        border-bottom-left-radius: 43px;
    }
    /*---------CONTACTS--------*/
    .contact__container{
        width: 100%;
        height: max-content;
        padding: 0;
    }
    .contact__top{
        width: 100%;
        flex-wrap: wrap;
    }
    .contact__top__form{
        width: 90%;
        height: 40vh;
        margin: 0 auto 2%;
        order: 2;
    }
    .form__header{
        width: 100;
        height: auto;
        font-size: 5.2rem;
        line-height: 1.2;
        color: rgba(0, 0, 0, 1);
        text-align: center;
    }
    .form__body{
        height: 85%;
    }
    .contact__top__map{
        width: 90%;
        height: 40vh;
        margin: 2% auto;
        order: 1;
    }
    .contact__top__map iframe{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .contact__bottom{
        min-height: 20vh;
        padding: 0% 2%;
        display: flex;
        align-items: center;
    }    
}