*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	box-sizing: border-box;
}
html,body{
	height: 100%;
	width: 100%;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Space Grotesk', sans-serif;
    line-height: normal;
}

a{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}

.box{
    width: 100%;
    height: 100%;
    background: linear-gradient(112.23deg, #3E718E 0%, #64969B 100%);
    display: flex;
    align-items: center;
    padding-bottom: 3%;
}
.container{
    width: 60%;
    height: 80%;
    margin: 0 auto;
    display: flex;

}
.container__left{
    width: 55%;
    background: rgba(255, 255, 255, 1);
}
.left__header{
    width: 20%;
    padding: 1% 4%;
    font-size: 2.4rem;
    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.container__left__form{
    width: 65%;
    margin: 10% auto 0;
    text-align: center;
}
.form__title{
    font-size: 2rem;
}
.form__item{
    text-align: left;
    margin: 3% auto;
}
.left__form label{
    font-size: 1.6rem;
    font-weight: 400;
    display: block;
    margin-bottom: 1.5%;
}
.form-input{
    width: 100%;
    padding: 1%;
    border: 2px solid rgba(204, 204, 204, 1);
    border-radius: .5rem;
}
::placeholder{
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(204, 204, 204, 1);
}
.item-pass{
    margin-bottom: 0;
}
.item-pass [placeholder]{
    letter-spacing: 0.3rem;
}
input[type='password'] {
    font-family: Verdana;
    letter-spacing: 0.125rem;
}
.pass{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(168, 168, 168, 1);
    text-align: left;
}
.opt{
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(168, 168, 168, 1);
}
.button{
    width: 100%;
    padding: 3%;
    margin: 10% auto 4%;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(40, 74, 94, 1);
    border-radius: .5rem;
    cursor: pointer;
}
.button:hover{
    background: linear-gradient(112.23deg, #3E718E 0%, #64969B 100%);
}

.user{
    font-size: 1.6rem;
    color: rgba(196, 196, 196, 1);
}
.user a{
    color: rgba(71, 109, 115, 1);
    text-decoration: underline;
}
.user a:hover{
    text-decoration: none;
    outline: 1px solid rgba(71, 109, 115, 1);
    outline-offset: .1rem;
    border-radius: .5rem;
}

.container__right{
    width: 45%;
    background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
    box-shadow: 0px 0px 10px 9px #4E7577;

}
.right__header{
    display: flex;
    justify-content: flex-end;
    padding: 3% 4%;
}
.right__header__nav{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.header__nav__item a{
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 1);
}
.header__nav__item a:hover{
    outline: 2px solid white;
    outline-offset: .3rem;
    border-radius: .5rem;
}
.right__text{
    width: 70%;
    margin: 0 auto;
    position: relative;
    top: 20%;
    color: rgba(255, 255, 255, 1);
    text-align: left;
}
.right__text__title{
    font-size: 4.8rem;
}
.right__text__author{
    font-size: 1.6rem;
}