
/*Обнулення*/
*{
	padding: 0;
	margin: 0;
	border: 0;
    box-sizing: border-box;
}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
	font-size: 100%;
	line-height: normal;
}
input::-ms-clear{display: none;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
/*--------------------*/
.page{
    width: 100%;
    height: 100%;
    background: #E5E5E5;
}
.box{
    width: 1359px;
    height: 937px;
    margin: 0 auto;
    position: relative;
    background-color: white;
}
.box-left{
    width: 60%;
    height: 100%;
    padding: 4% 5% 5% 5%;
    position: absolute;
    z-index: 5;
}
.background{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 650px;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.header__link{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header__link a{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.25px;
    color: rgba(71, 67, 224, 1);
    display: flex;
    align-items: center;
}
.header__link a:hover{
    outline: 2px solid rgba(71, 67, 224, 1);
    outline-offset: 10px;
    border-radius: 25px;
}

.header__link a img{
    margin-left: 5px;
}
.container__text{
    padding: 50px 0 40px;
    border-bottom: 1.8px dashed rgba(0, 0, 0, .2);

}
.text__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text__title{
    font-size: 54px;
    line-height: 68px;
    color: rgba(66, 80, 92, 1);
    flex: 0 0 45%;
}
.text__sub{
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.25px;
    color: rgba(64, 64, 64, 1);
    flex: 0 0 45%;
}
.terms-link{
    font-weight: 700;
    color: rgba(71, 67, 224, 1);
}
.terms-link:hover{
    text-decoration: underline;
}

.container__form{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    margin-top: 25px;
    position: relative;
}
.form__row{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

}
.form__item{
    width: 45%;
}
.form__label{
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form__input{
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    border: 1px solid rgba(209, 209, 209, 1);
    padding: 8px 10px;
    margin-top: 5px;
    display: block;
    width: 100%;
}
.form__input[type="placeholder"]{
    color: rgba(51, 51, 51, .4);
}

.border-row{
    padding-bottom: 35px;
    border-bottom: 1px dashed rgba(0, 0, 0, .2);
}
.password-row{
    padding: 20px 0 35px;
    border-bottom: 1px dashed rgba(0, 0, 0, .2);
}
.opt{
    color: rgba(51, 51, 51, .4);
}
.radio-boxes{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.radio-box{
    width: 22%;
}
.radio-box label{
    padding: 8px 0;
    font-weight: 400;
    color: rgba(51, 51, 51, .34);
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25;
    border: 1px solid rgba(209, 209, 209, 1);
    display: flex;
    justify-content: center;
}
.radio-box input[type="radio"] {
    display: none;
}
.radio-box input[type="radio"]:checked + label{
    color: rgba(71, 67, 224, 1);
    border: 1px solid rgba(71, 67, 224, 1)
}
.bottomn-row{
    padding-top: 45px;
}
.item-check{
    display: flex;
    align-items: flex-end;
    padding: 0 0 5px;
}
.check-label{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.25px;
}
.form__item .check-box[type]{
    vertical-align: middle;
    width: 24px;
    height: 24px;
    border: 1px solid;
    margin-right: 5px;
}
.form-button{
    display: flex;
    justify-content: flex-end;
}
.form__submit{
    width: 100px;
    height: 45px;
    background-color: #4743E0;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.form__submit:hover{
    background-color: rgba(36, 32, 222, 1);
}
