*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	box-sizing: border-box;
}
html,body{
	height: 100%;
	width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
    --color-white: rgba(255, 255, 255, 1);
    --color-orange: rgba(255, 183, 66, 1);

}

a{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

.box{
    max-width: 100vw;
    margin: 0 auto;
    background-color: #212529;
    position: relative;
}
header{
    width: 90%;
    margin: 0 auto;
    padding: 0.5% 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    width: 6%;
    text-align: center;
}
.header__logo img{
    width: 100%;
}
nav{
    width: 40%;
}
.nav__menu{
    display: flex;
    justify-content: space-evenly;
}
.nav__menu a{
    color: var(--color-white);
    transition: all 300ms ease;
}
.nav__menu a:hover{
    color: var(--color-orange);
    transition: all 500ms ease;
}
.nav__menu a:active{
    color: var(--color-orange);
    outline: var(--color-orange) solid;
    outline-width: .15vw;
    outline-offset: .35vw;
    border-radius: .5vw;
    transition: all 200ms ease;
}
.menu__item{
    font-weight: 600;
    font-size: 1.2vw;
    margin: auto 0;
    text-align: center;
}
.hire{
    width: 8vw;
    padding: .6vw;
    background: var(--color-orange);
    border-radius: 3rem;
    text-align: center;
    color: rgba(33, 37, 41, 1);
    font-weight: 700;
    font-size: 1.1vw;
    position: relative;
    transition: all 300ms ease;
}
.hire-link{
    border-radius: 3rem;
    position: absolute; 
    top: 0;
    left: 0;
    width: 8vw;
    height: 2.8vw;

}
.hire:hover{
    background: rgba(255, 255, 255, 0.08);
    color: var(--color-orange);
    box-shadow: 0vw 0vw 1vw 0.1vw var(--color-orange);
    cursor: pointer;
    transition: all 500ms ease;
}
.hire:active{
    box-shadow: none;
    color: var(--color-white);
    transition: all 200ms ease;
}
.introduce{
    width: 60%;
    margin: 4% auto;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: var(--color-white);
}
.introduce__item-1{
    font-size: 1.9vw;
}
.introduce__item-1 span{
    color: var(--color-orange);
    text-decoration: underline;
}

.introduce__item-2{
    font-size: 2.5vw;
    text-transform: capitalize;
    margin: 1% 0% 2%;
}
.introduce__item-3{
    font-weight: 400;
    font-size: 1.3vw;
    text-transform: capitalize;
    margin: 3% 0%;
}
.introduce__image{
    margin: 4% 0%;
}
.introduce__image img{
    width: 25%;
}

.cards{
    width: 90%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 5% auto;
}
.cards__item{
    width: 32%;
    background: rgba(41, 43, 46, 1);
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 0%;
}
.cards__item:hover{
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
}
.cards__item:hover .item__text__title, .cards__item:hover .item__text__subtitle{
    color: rgba(33, 37, 41, 1);
    transition: all 300ms ease;
}
.item__image{
    width: 20%;
    text-align: center;
}
.item__image img{
    width: 100%;
}

.item__text{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: var(--color-white);
}
.item__text__title{
    font-size: 2vw;
    color: var(--color-orange);
}
.item__text__subtitle{
    font-size: 1.1vw;
}
.item__arrow{
    width: 6%;
}
.item__arrow img{
    width: 100%;
}
.about{
    width: 95%;
    margin: 10% 2% 2%;
    display: flex;
    justify-content: space-between;
}
.about__image{
    width: 45%;
}
.about__image img{
    width: 100%;
}

.about__text{
    width: 48%;
}
.button-top{
    font-size: 1.2vw;
    font-weight: 600;
    text-align: center;
    padding: .5%;
    text-transform: uppercase;
    color: var(--color-orange);
    background: rgba(255, 255, 255, 0.08);
    border-radius: 3rem;
}
.about__text__button{
    width: 20%;
}
.about__text__title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 3vw;
    line-height: 1.1;
    color: var(--color-white);
    text-transform: capitalize;
    margin-left: 1%;
}
.about__text__main{
    font-size: 1.1vw;
    color: rgba(212, 212, 212, 1);
    margin: 3% 0% 6% 1%;
}
.hire-about{
    margin: 6% 0% 3% 1.5%;
}
.skills{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 0% auto 8%;
}
.skills__text{
    width: 45%;
}
.skills__button{
    width: 23%;
}
.skills__text__title{
    width: 90%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 3vw;
    color: var(--color-white);
    text-transform: capitalize;
    margin: 0% 0% 3% 1%;
}
.skills__text__main{
    font-size: 1vw;
    color: rgba(212, 212, 212, 1);
    margin: 5% 0% 6% 1%;
}
.skills__technology{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.technology__cards{
    display: flex;
    justify-content: space-evenly;
    margin: 2% 0%;
}

.technology__card{
    display: flex;
    width: 5vw;
    height: 5vw;
    align-items: center;
    justify-content: center;
    background: rgba(56, 62, 69, 1);
    border-radius: 1rem;
    padding: 2.5% 0%;
    position: relative;
    transition: all 500ms ease;
}
.technology__card a{
    position: absolute;
    top: 0;
    width: 5vw;
    height: 5vw;
    border-radius: 1rem;
}


.technology__card:hover{
    background:rgba(255, 183, 66, 0.5);
    cursor: pointer;
    transition: all 500ms ease;
}
.technology__card:active{
    background:rgba(255, 183, 66, .8);
    transition: all 100ms ease;
}


.technology__card img{
    max-height: 100%;
}

.works{
    width: 90%;
    margin: 5% auto 6%;
    text-align: center;

}
.works__button{
    width: 11%;
    margin: 0 auto;
}
.works__title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 3vw;
    line-height: 1.1;
    color: var(--color-white);
    text-transform: capitalize;
    margin: 0 auto
}
.works__nav{
    margin: 1.8% 0% 2%;

}
.works__nav__menu{
    width: 45%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.nav__menu__item{
    font-weight: 600;
    font-size: 1.1vw;
    margin: auto 0;
    text-align: center;
    padding: 1% 2%;
    transition: all 300ms ease;
}
.nav__menu__item a{
    color: var(--color-white);
    transition: all 300ms ease;

}
.nav__menu__item:hover{
    background: var(--color-orange);
    border-radius: .6rem;
    transition: all 500ms ease;
}
.nav__menu__item:active{
    background: rgba(255, 255, 255, 0.08);
    transition: all 100ms ease;
}

.nav__menu__item:hover a{
    color: rgba(33, 37, 41, 1);
    transition: all 500ms ease;
}
.nav__menu__item:active a{
    color: var(--color-orange);
    transition: all 100ms ease;
}
.works__cards{
    margin: 3% auto;
    display: flex;
    justify-content: space-evenly;
}
.cards__column{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.column-image img{
    width: 100%;
    border-radius: 1rem;
    transition: all 300ms ease;
}
.column-image :first-child{
    margin-bottom: 6%;
}
.column-image img:hover{
    box-shadow: 0vw 0vw 1vw 0.2vw var(--color-orange);
    cursor: pointer;
    transition: all 500ms ease;
}
.column-image img:active{
    box-shadow: 0vw 0vw .7vw 0.05vw var(--color-orange);
    transition: all 200ms ease;
}

.reviews{
    width: 90%;
    margin: 8% auto 15%;
    text-align: center;
}
.reviews__button{
    width: 12%;
    margin: 0 auto;
}
.reviews__title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.3vw;
    line-height: 1.5;
    color: var(--color-white);
    text-transform: capitalize;
    margin: 0 auto;
}
.reviews__cards{
    display: flex;
    justify-content: space-evenly;
    margin: 5% auto;
}
.review__card{
    width: 27%;
    text-align: center;
}
.review__card img{
    width: 100%;
    border-radius: 1rem;
    transition: all 300ms ease;
}

.review__card img:hover{
    box-shadow: 0vw 0vw 1vw 0.2vw var(--color-orange);
    cursor: pointer;
    transition: all 400ms ease;
}
.review__card img:active{
    box-shadow: 0vw 0vw .7vw 0.05vw var(--color-orange);
    transition: all 200ms ease;
}

footer{
    background: rgba(28, 28, 28, 1);
    padding: 3% 0% 4%;
    display: flex;
    justify-content: space-around;
}
.footer__introduce{
    width: 15%;
}
.introduce__title{
    font-size: 1.9vw;
    font-weight: 700;
    line-height: 1;
    color: var(--color-orange);
}
.introduce__text{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: .9vw;
    line-height: 1.7;
    color: rgba(212, 212, 212, 1);
    margin: 10% 0% 5%;
}
.footer__nav{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.footer__nav__menu{
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 1vw;
}
.footer__nav__menu__header{
    font-weight: 700;
    font-size: 1.3vw;
    color: var(--color-white);
    margin-bottom: 15%;
}
.footer__nav__menu__item{
    margin: 10% auto;
}
.footer__nav__menu__item a{
    color: rgba(123, 123, 123, 1);
    transition: all 200ms ease;
}
.footer__nav__menu__item a:hover{
    color: var(--color-white);
    transition: all 400ms ease;
}
.footer__nav__menu__item a:active{
    color: var(--color-orange);
    outline: var(--color-orange) solid;
    outline-width: .1vw;
    outline-offset: .2vw;
    border-radius: .3vw;
    transition: all 100ms ease;
}



.footer__news{
    width: 20%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 1.4vw;
    color: var(--color-white);
}
.footer__news textarea{
    width: 100%;
    font-size: 1vw;
    font-weight: 500;
    color: rgba(123, 123, 123, 1);
    display: block;
    background-color: transparent;
    margin: 5% 0%;
    resize: none;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    border-style: none;
    outline: none;
}

