*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	box-sizing: border-box;
}
html,body{
	height: 100%;
	width: 100%;
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
    font-weight: 400;
    line-height: normal;
}

a{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

.box{
    max-width: 100vw;
    margin: 0 auto;
    background-color: #FBE4FF;
    position: relative;
}
header{
    width: 100%;
    background: #243B93;
    padding: 0.4%;
    text-align: center;
    height: max-content;
    position: sticky;
    top: 0;
    z-index: 5;
}
nav{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    width: 15%;
}
.nav__logo a{
    width: 100%;
}
.nav__logo a img{
    width: 100%;
    height: auto;
}
.nav__menu{
    width: 65%;
    display: flex;
    justify-content: space-between;
}
.naw__menu__item{
    width: 20%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.15vw;
    margin: auto 0;
}
.naw__menu__item a{
    color: white;
}
.naw__menu__item a:hover{
    color: #EF075B;
}

.nav__lang{
    display: flex;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.7vw;
    color: white;
    width: 10%;
}
.nav__lang a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__lang a svg{
    color: white;
    width: 90%;
    padding: 1% 0%;
    }
.nav__lang a:hover  svg{
    color: #EF075B;
}

.booking{
    width: 100%;
    background-color: #BFF0FF;
    padding: 0.6%;
}
.booking__text{
    width: 70%;
    margin: 0 auto;
    text-align: left;
    color: #202846;
    font-size: 2.3vw;
    font-style: italic;
}
.body{
    width: 70%;
    text-align: center;
    margin: 0 auto;
}
.select-location{
    width: 100%;
    text-align: center;
    margin: 1.5% auto;
    background-color: white;
    padding: 1%;
    position: relative;
}
.select-location div{
    font-size: 1.5vw;
    color: rgba(0, 0, 0, 0.61);
}
.location__image{
    position: absolute;
    right: 1.5%;
    bottom: 15%;
    width: 2vw;
    height: auto;
}
.location__image img{
    width: 100%;
    height: auto;
}
.cards__item{
    margin: 2% 0% 3%;
    background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);
    padding:  1% 1% 2%;
    display: flex;
    position: relative;
}
.cards__item:hover{
    background: rgba(44, 189, 235, 1);
    box-shadow: 0vw 0vw 2vw 0.4vw rgba(44, 189, 235, 1);
}

.item__image{
    margin: 1.5% 2% 0% 2.5%;
    width: 40%;
}
.item__image img{
    width: 100%;

}
.item__text{
    display: flex;
    flex-direction: column;
    width: 52%;
}
.text__header{
    font-weight: 700;
    font-size: 2vw;
    font-style: italic;
    color: rgba(53, 60, 87, 1);
    text-align: left;
    border-bottom: 0.27vw solid white;
    margin-bottom: 1%;
}
.text__main{
    background: rgba(237, 251, 255, 1);
    font-size: 1.2vw;
    color: rgba(32, 40, 70, 1);
    text-align: left;
    padding: 2% 4% 2% 3%;
    height: 80%;
}
.cards__favourite{
    position: absolute;
    right: 0.5%;
    top: 2%;
}
.cards__favourite svg{
    height: 2.5vw;
    color: white;
}
.cards__favourite:hover svg{
    color: rgba(255, 245, 0, 1);
}
.cards__favourite:active svg{
    color: rgba(255, 147, 0, 1);
}
.cards__details{
    position: absolute;
    right: -2.5%;
    bottom: 3%;
    font-size: 1.2vw;
    text-align: center;
    align-items: center;
    color: white;
    width: 15%;
    padding: 0.6%;
    border-radius: 1em;
    background-color: rgba(36, 59, 147, 1);
}
.cards__details:hover{
    background-color: #EF075B;
}
.cards__details:active{
    background-color: #ef072b;
}
.arrow-up{
    background-color: rgba(48, 12, 106, 0.3);
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 3%;
    right: 2%;
    border-radius: 50%;
}
.arrow-up a{
    border-radius: 50%;
}
.arrow-up svg{
    height: 2vw;
    margin: 1.5vw 2vw;
}
.arrow-up:hover{
    background-color: rgba(48, 12, 106, 0.6);
}
.arrow-up:active{
    background-color: rgba(48, 12, 106, 1);
}
.office{
    width: 100%;
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
    padding: 0.6%;
}
.office__text{
    width: 70%;
    margin: 0 auto;
    text-align: left;
    color: rgba(36, 59, 147, 1);
    font-size: 2.3vw;
    font-style: italic;
}
.office__body{
    width: 70%;
    text-align: center;
    margin: 2% auto 1%;
}
.office__card{
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    display: flex;
    justify-content: space-between;
    padding: 5% 5%;
}
.card__left{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.left__avatar{
    width: 45%;
    margin: 3% 0%;
}
.left__avatar img{
    width: 100%;
}

.left__change{
    font-size: 1.3vw;
    text-align: center;
    align-items: center;
    color: white;
    width: 60%;
    padding: 2.5%;
    margin: 1.5% 0%;
    border-radius: 2em;
    background-color: rgba(36, 59, 147, 1);
}
.left__settings{
    font-size: 1.3vw;
    text-align: center;
    align-items: center;
    color: white;
    width: 60%;
    padding: 2.5%;
    margin: 1.5% 0%;
    border-radius: 2em;
    background-color: rgba(239, 7, 91, 1);
}
.card__right{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.card__right div{
    font-weight: 700;
    font-size: 2vw;
    font-style: italic;
    color: rgba(53, 60, 87, 1);
    text-align: left;
    border-bottom: 0.27vw solid white;
    padding: 1% 0%;
    margin-bottom: 1%;
}
.card__right span{
    font-weight: 400;
}

.office__body__exit{
    font-size: 1.3vw;
    text-transform: uppercase;
    text-align: center;
    color: white;
    width: 10vw;
    padding: 0.5vw;
    margin: 1.5% auto;
    border-radius: 2em;
    background-color: rgba(36, 59, 147, 1);
}
.contact{
    width: 100%;
    background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
    padding: 0.6%;
    margin: 2% 0% 0%;
}
.contact__text{
    width: 70%;
    margin: 0 auto;
    text-align: left;
    color: rgba(36, 59, 147, 1);
    font-size: 2.3vw;
    font-style: italic;
}
.contact__body{
    width: 70%;
    text-align: center;
    margin:0 auto;
}
.contact__card{
    display: flex;
    justify-content: space-between;
    padding: 2% 0%;
}
.contact__left{
    display: flex;
    justify-content: space-between;
    width: 55%;
    text-align: left;
    
}

.left__left{
    width: 50%;
}
.contact__tel{
    width: 66%;
    padding-bottom: 4%;
}
.contact__adress{
    padding-top: 4%;
}
.contact__mail{
    width: 35%;
}
.contact__top{
    border-bottom: 0.1em solid black;
    font-size: 1.9vw;
}
.contact__bottom{
    font-size: 1.45vw;
}
.contact__right{
    width: 38%;
    height: 15vw;
    border: 0.15em solid rgba(36, 59, 147, 1);
    border-radius: 2em;
}
.contact__right iframe{
    width: 100%;
    height: 100%;
    border-radius: 2em;
}










